<!-- Chân trang của website -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Giới thiệu</h6>
        <p class="text-justify"> <i>Chào mừng bạn đến với dự án của tôi! </i> Tôi đã sử dụng Angular và Spring Boot để xây dựng một cửa hàng trực tuyến, nơi bạn có thể tìm và mua một loạt các sản phẩm công nghệ bao gồm TV, laptop và các thiết bị điện tử. Với giao diện mạnh mẽ và dễ sử dụng được thiết kế bằng Angular, và các tính năng đáng tin cậy của Spring Boot, chúng tôi đã tạo ra một trải nghiệm mua sắm trực tuyến thú vị và thuận tiện cho khách hàng. Khám phá bộ sưu tập sản phẩm hàng đầu từ các thương hiệu nổi tiếng trong ngành công nghệ. Tham gia cùng chúng tôi trên hành trình mua sắm trực tuyến đầy thú vị này!</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Công nghệ tôi đã sử dụng</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/java-programming-language/" target="_blank">Java</a></li>
          <li><a href="https://spring.io" target="_blank">Spring Boot</a></li>
          <li><a href="https://docs.spring.io/spring-security/reference/index.html" target="_blank">Spring Security</a></li>
          <li><a href="https://angular.io" target="_blank">Angular - Frontend</a></li>
          <li><a href="https://getbootstrap.com" target="_blank">Bootstrap - Frontend</a></li>
          <li><a href="https://www.mysql.com" target="_blank">MYSQL - Cơ sở dữ liệu</a></li>
          <li><a href="https://www.docker.com" target="_blank">Docker</a></li>
          <li><a href="https://chat.openai.com" target="_blank">ChatGPT</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Liên hệ với tôi</h6>
        <ul class="footer-links">
          <li><a href="https://github.com/sontbui" target="_blank">Github</a></li>
          <li><a href="mailto:sonbuithanh306@gmail.com" target="_blank">Email</a></li>
          <li><a href="https://www.facebook.com/son.tbui.278/" target="_blank">Facebook</a></li>
          <li><a href="https://www.linkedin.com/in/sontbui2783/">Linkedin</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <!-- <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p> -->
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons" style="positions:center;">
          <li><a class="facebook" href="https://www.facebook.com/son.tbui.278/"><i class="fa fa-facebook"></i></a></li>
          <li><a class="dribbble" href="https://github.com/sontbui"><i class="fa fa-github"></i></a></li>
          <li><a class="linkedin" href="https://www.linkedin.com/in/sontbui2783/"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
