  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"> <i>Welcome to my project! </i>  I've used Angular and Spring Boot to build an online shop where you can find and purchase a wide range of technology products including TVs, laptops, and electronic devices. With a powerful and user-friendly interface crafted with Angular, and the reliable features of Spring Boot, we've created an exciting and convenient online shopping experience for customers. Browse our selection of top-notch products from leading brands in the tech industry. Join us on this exciting journey of online shopping!</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Technique I used</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/java-programming-language/" target="_blank">Java</a></li>
            <li><a href="https://spring.io" target="_blank">Spring Boot</a></li>
            <li><a href="https://docs.spring.io/spring-security/reference/index.html" target="_blank">Spring Security</a></li>
            <li><a href="https://angular.io" target="_blank">Angular - Frontend</a></li>
            <li><a href="https://getbootstrap.com" target="_blank">Bootstrap - Frontend</a></li>
            <li><a href="https://www.mysql.com" target="_blank">MYSQL - Database</a></li>
            <li><a href="https://www.docker.com" target="_blank">Docker </a></li>
            <li><a href="https://chat.openai.com" target="_blank">ChatGPT</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Contact with me</h6>
          <ul class="footer-links">
            <li><a href="https://github.com/sontbui" target="_blank">Github</a></li>
            <li><a href="mailto:sonbuithanh306@gmail.com" target="_blank">Email</a></li>
            <li><a href="https://www.facebook.com/son.tbui.278/" target="_blank">Facebook</a></li>
            <li><a href="https://www.linkedin.com/in/sontbui2783/">Linkedin</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <!-- <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by 
       <a href="#">Scanfcode</a>.
          </p> -->
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons" style="positions:center;">
            <li><a class="facebook" href="https://www.facebook.com/son.tbui.278/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="dribbble" href="https://github.com/sontbui"><i class="fa fa-github"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/in/sontbui2783/"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>