.bg-primary { background-color: #007bff !important; }
.bg-success { background-color: #28a745 !important; }
.bg-info { background-color: #17a2b8 !important; }
.bg-danger { background-color: #dc3545 !important; }
.filter-sidebar {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
  background-color: #f8f9fa;
  padding: 0 0; /* lúc chưa mở không có padding */
  border-radius: 5px;
}

.filter-sidebar.open {
  width: 280px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
