@import '../../styles/shared-styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


header {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(173, 178, 203);
}
header{
    margin-top: 15px;
    font-size: 15px;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}


.navbar .container .navbar-nav .nav-link {
    color: rgb(12, 12, 12);
    border-radius: 20px;
    padding: 8px 16px;
    font-family: 'Poppins', sans-serif;   
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: rgb(15, 15, 15) ;
    color: white !important;
}
.nav-item.active {
    background-color: rgb(15, 15, 15) !important;
    color: white !important;
}
.nav-link.active{
    background-color: rgb(15, 15, 15) ;
    color: white !important;
}
/* Add this CSS to your project's stylesheet */

.popover-list {
    padding: 10px;
}
.popover-body {
    padding: 0px;
}
.popover-item {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

.popover-item:hover {
    background-color: #f0f0f0;
    color: $shopapp-color;    
}

.nav-link{
    color: black;
    position: relative; 
}
.unread-indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
}