<app-header></app-header>
<div class="container">
    <div class="intro-section">
    </div>
    <form [formGroup]="orderForm">
        <div class="row">
            <div class="col-md-5">
                <h2 class="product-headers">Thông tin giao hàng</h2>
                <div class="mb-3">
                    <label for="fullname" class="form-label">Họ và tên</label>
                    <input type="text" formControlName="fullname" placeholder="Nhập họ và tên" class="form-control"
                        id="fullname"
                        [class.is-invalid]="orderForm.get('fullname')!.invalid && orderForm.get('fullname')!.touched">
                    @if(orderForm.get('fullname')!.invalid &&
                    orderForm.get('fullname')!.touched) {
                    <div class="invalid-feedback">
                        {{ orderForm.get('fullname')!.hasError('required') ? 'Name is required !!' : 'Name have leat 2 characters !' }}
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" formControlName="email" placeholder="Emails" class="form-control" id="email"
                        [class.is-invalid]="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
                    @if(orderForm.get('email')!.invalid
                    && orderForm.get('email')!.touched) {
                    <div class="invalid-feedback">
                        {{ orderForm.get('email')!.hasError('email') ? 'Email is invalid' : 'Email is required' }}
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Số điện thoại</label>
                    <input type="text" class="form-control" formControlName="phone_number" placeholder="Số điện thoại"
                        required id="phone"
                        [class.is-invalid]="orderForm.get('phone_number')!.invalid && orderForm.get('phone_number')!.touched">
                    @if(orderForm.get('phone_number')!.invalid
                    && orderForm.get('phone_number')!.touched) {
                    <div class="invalid-feedback">
                        {{ orderForm.get('phone_number')!.hasError('required') ? 'Phone number is required' :
                        orderForm.get('phone_number')!.hasError('pattern') ? 'Phone number is invalid' :
                        orderForm.get('phone_number')!.hasError('minlength') ? 'Phone number must be at least 10 digits long' :
                        orderForm.get('phone_number')!.hasError('maxlength') ? 'Phone number cannot be more than 11 digits long' : '' }}
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <input type="text" class="form-control" formControlName="address" placeholder="Nhập địa chỉ" required
                        id="address"
                        [class.is-invalid]="orderForm.get('address')!.invalid && orderForm.get('address')!.touched">
                    @if(orderForm.get('address')!.invalid
                    && orderForm.get('address')!.touched) {
                    <div class="invalid-feedback">
                        Địa chỉ giao hàng là bắt buộc
                    </div>
                    }
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Lưu ý cho đơn hàng của bạn</label>
                    <input type="text" class="form-control" formControlName="note" placeholder="Notes" required
                        id="note">
                </div>
                <div class="mb-3">
                    <label for="shippingMethod">Phương thức vận chuyển</label>
                    <select class="form-control" id="shippingMethod" formControlName="shipping_method">
                        <option value="express">Giao hàng hoả tốc</option>
                        <option value="normal">Giao hàng bình thường</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="paymentMethod">Phương thức thanh toán</label>
                    <select class="form-control" id="paymentMethod" formControlName="payment_method">
                        <option value="cod">Thanh toán khi nhận hàng</option>
                        <option value="vnpay">VNPay</option>
                        
                    </select>
                </div>
            </div>
            <div class="col-md-7">
                <h2 class="product-order">Sản phẩm</h2>
                <div class="product-table-wrapper">
                    <table class="product-table">
                        <tbody>
                            <ng-container *ngFor="let item of cartItems; let i = index">
                                <tr>
                                    <td colspan="6">
                                        <hr class="hr-long">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="product-name">{{ item.product.name }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="product-info">
                                            <img [src]="item.product.thumbnail" alt="Product Image"
                                                class="product-image">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="product-quantity">
                                            <div class="border-wrapper">
                                                <button class="btn-de-in" (click)="decreaseQuantity(i)">-</button>
                                                {{ item.quantity }}
                                                <button id="increaseBtn" (click)="increaseQuantity(i)">+</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td><del class="price-original">{{ (item.product.price ) | number:'1.2-2' }} đ</del>
                                    </td>
                                    <td><span class="arrow">→</span></td>
                                    <td class="price-after">{{ ((item.product.price * 0.95 ) * item.quantity) |
                                        number:'1.2-2' }} đ</td>
                                    <td>
                                        <button class="btn btn-danger" (click)="confirmDelete(i)">
                                            Xoá
                                        </button>
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                <div class="text-start mt-3 coupon-and-price-container">
                    <h4 class="header-text text-end total-price">Tổng giá trị đơn hàng: {{ totalAmount | number:'1.2-2'}} đ </h4>
                </div>
                @if(!isFormValid()){
                <div class="text-start mt-3" *ngIf="cartItems.length > 0">
                    <button class="btn orderBTN" type="button" [disabled]="!isFormValid()">Vui lòng điền đầy đủ thông tin giao hàng !!!</button>
                </div>
                }
                @else {
                    <div class="text-start mt-3">
                        <button (click)="placeOrder()" class="btn orderBTN" type="submit" [disabled]="!isFormValid()">Đặt hàng</button>
                    </div>
                }
            </div>
        </div>
    </form>
</div>
<app-footer></app-footer>