<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <!-- Giới thiệu sản phẩm hoặc thông tin khác nếu cần -->
    </div>
    <div class="row">
      <div class="col-md-6 product-frame">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            @for(image of product?.product_images;
                track image.image_url;let i = $index;) {
              <div
                 class="carousel-item"
                  [ngClass]="{'active': i === currentImageIndex}">
                <div class="square-image">
                  <img [src]="image.image_url" class="product-image" alt="Hình ảnh sản phẩm">
                </div>
              </div>
            }
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="prev" (click)="previousImage()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Trước</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                  data-bs-slide="next" (click)="nextImage()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Tiếp theo</span>
          </button>
        </div>
        <div class="row">
          <div class="thumbnail-container">
            @for(image of product?.product_images;
                 track image.image_url; let i = $index) {
                  <div
                    class="thumbnail-item"
                    [ngClass]="{'active': i === currentImageIndex}"
                    (click)="thumbnailClick(i)">
                  <img [src]="image.image_url" class="thumbnail-image" alt="Hình ảnh thu nhỏ">
                </div>
            }
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="product-details">
          <h1 class="product-name">{{ product?.name }}</h1>
          <p class="product-description">{{ product?.description }}</p>
          <p class="product-price ">
            <del class="product-price-origin">{{ product?.price | currency:'VND':true }}</del>
            <span class="arrow">→</span>
            {{ productAfter | currency:'VND':true }}
          </p>
          <p class="product-total">Tổng giá: {{ getTotalPrice() | currency:'VND' }}</p>

          <div class="product-quantity">
            Số lượng:
            <div class="border-wrapper">
              <button (click)="decreaseQuantity()" id="decreaseIndex">-</button>
              <input type="text" id="inputNumber" [value]="quantity" (input)="updateQuantity($event)">
              <button (click)="increaseQuantity()" id="increaseIndex">+</button>
            </div>
          </div>

          <div *ngIf="showAlert" class="alert">Số lượng không thể là 0!</div>

          <div class="product-actions">
            <button class="btn btn-primary" (click)="addToCart()" *ngIf="quantity !== 0">Thêm vào giỏ hàng</button>
            <button class="btn btn-success" (click)="buyNow()" *ngIf="quantity !== 0">Mua ngay</button>
            <button class="btn btn-info" (click)="openCompareDialog()">So sánh</button>
        </div>
        </div>
        
      </div>
    </div>
    <div class="compare-dialog" *ngIf="showCompareDialog">
      <div class="compare-dialog-content">
          <button class="close-btn" (click)="closeCompareDialog()">×</button>
          <div class="compare-container">
              <!-- Cột trái: Sản phẩm hiện tại -->
              <div class="compare-column">
                  <h3>Sản phẩm hiện tại</h3>
                  <div class="product-info">
                      <img [src]="product?.product_images[0]?.image_url" alt="{{product?.name}}" class="compare-image">
                      <h4>{{product?.name}}</h4>
                      <p>Giá: {{product?.price | currency:'VND':true}}</p>
                      <p>{{product?.description}}</p>
                  </div>
              </div>

              <div class="compare-column">
                  <h3>So sánh với</h3>
                  <div class="product-list" *ngIf="!selectedCompareProduct">
                      <div class="product-item" *ngFor="let prod of productsToCompare" (click)="selectProductToCompare(prod)">
                          <img [src]="urlImg + prod.product_images[0]?.image_url" alt="{{prod.name}}" class="thumbnail">
                          <p>{{prod.name}}</p>
                      </div>
                  </div>
                  <div class="product-info" *ngIf="selectedCompareProduct">
                      <img [src]="selectedCompareProduct.product_images[0]?.image_url" alt="{{selectedCompareProduct.name}}" class="compare-image" >
                      <h4>{{selectedCompareProduct.name}}</h4>
                      <p>Giá: {{selectedCompareProduct.price | currency:'VND':true}}</p>
                      <p>{{selectedCompareProduct.description}}</p>
                      <button class="btn btn-secondary" (click)="onProductClick(selectedCompareProduct.id)">Xem sản phẩm</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
