
h1{
    margin-top: 10px;
}
.add-category {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(43, 69, 30);
    color: white;
}
.table td,
.table th {
  vertical-align: middle;
}

.btn-sm {
  min-width: 70px;
}
