h3, label, input, button{
    margin: 20px;
}
.insert-category{
    margin-top: 20px;
    background-color: rgb(43, 69, 30);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}